[submodule "packman"]
	path = packman
	url = https://github.com/jberthold/packman
[submodule "binary-serialise-cbor"]
	path = binary-serialise-cbor
	url = https://github.com/well-typed/binary-serialise-cbor
